.jumbotron {
  text-align: center;
  color: DarkBlue;
  font-family: arial;
  border-style: double;
  background-color: LightBlue;

}



#buttons {
  text-align: center;
}

#rpsimage {
  text-align: center;
  margin-bottom: 20px;
}
