.bodyall {
  background-color: SandyBrown;
}

.jumbotron {
  text-align: center;
  color: Brown;
  font-family: arial;
  border-style: double;
  background-color: RosyBrown;
  border-color: Brown;

}



#buttons {
  text-align: center;
  margin-bottom: 50px;
}

#rpsimage {
  text-align: center;
  margin-bottom: 20px;
}

#move {
  text-align: center;
}

#score {
  text-align: center;
}
